<style>

table { width: 100%; text-align: left; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

th, td {  line-height: 1.45; color: #444; vertical-align: middle; padding: 1em; }
th {  }

colgroup:nth-child(1) { width: 15%; border: 0 none; }
colgroup { width: 22%; border: 1px solid #ccc; }

/* Tablehead */

thead th { background: #def4fe; background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); text-align: center; position: relative; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #ccc; padding: 3em 0 2em; color: #999; }
thead th:nth-child(1) { background: transparent; border-top: 0 none; }
thead th h2 {  line-height: 1.2; color: #59c7fb; }
thead th h2 + p { line-height: 1.4; }

tbody th { background: #fff; border: 1px solid #ccc; }
tbody th span { color: #999; display: block; }

tbody td { background: #fff; text-align: center; border: 1px solid #ccc;}


tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td { background: #f5f5f5; border: 1px solid #ccc;  }
tbody td:last-child { background: #fff; text-align: center; border: 1px solid #ccc; }

</style>

<h1><%= t('price_packs.price_packs') %></h1>
<table>
  <colgroup></colgroup>
  <colgroup></colgroup>
  <colgroup></colgroup>
  <colgroup></colgroup>

  <thead>
    <tr>
      <th>&nbsp;</th>
      <% @price_packs.pluck(:name).each do |pr_name| %>
        <th>
          <h2><%= pr_name %></h2>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th><span><%= t('price_packs.company') %></span></th>
      <% @price_packs.pluck(:company).each do |comp| %>
        <td><%= icon comp %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.notary') %></span></th>
      <% @price_packs.pluck(:notary).each do |notary| %>
        <td><%= icon notary %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.legal_address') %></span></th>
      <% @price_packs.pluck(:jur_address).each do |jur| %>
        <td><%= icon jur %> </span></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.contact_person') %></span></th>
      <% @price_packs.pluck(:contact_person).each do |cont| %>
        <td><%= icon cont %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.account') %></span></th>
      <% @price_packs.pluck(:account).each do |acc| %>
        <td><%= icon acc %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.remote_open') %></span></th>
      <% @price_packs.pluck(:remote_open).each do |r| %>
        <td><%= icon r %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.vat') %></span></th>
      <% @price_packs.pluck(:vat).each do |vat| %>
        <td><%= icon vat %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.included_capital') %></span></th>
      <% @price_packs.pluck(:included_capital).each do |incl| %>
        <td><%= icon incl %></td>
      <% end %>
    </tr>
    <tr>
      <th><span><%= t('price_packs.pack_price') %></span></th>
      <% @price_packs.pluck(:price).each do |pr| %>
        <td><b><%= number_with_precision(pr, :precision => 2) %></b></td>
      <% end %>
    </tr>
  </tbody>
</table>
