<%= form_for @request, url: {action: "create_request"}, html: {class: "nifty_form"}, method: :post do |f| %>
  <div class="form-group">
    <%= f.text_field :from, class: "form-control", placeholder: t('what_name')%>
  </div>
  <div class="form-group">
    <%= f.text_area :body, size: "60x12", class: "form-control", placeholder: t('what_question')%>
  </div>
  <div class="form-group"> 
    <%= f.text_field :address, class: "form-control", placeholder: t('what_phone') %>
  </div>
  <%= f.submit t('ask_question'), class: 'btn btn-primary' %>
<% end %>