<div id="page" class="container">
  <div id="header">
    <div id="logo">
      <img src="static/images/pic03.jpg" style='max-height:100px' alt="" />
      <h1><a href="#">E-residency</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="#welcome" accesskey="1" title="">Домашняя страница</a></li>
        <li><a href="#services" accesskey="2" title="">Наши услуги</a></li>
        <li><a href="#why" accesskey="4" title="">Почему именно мы?</a></li>
        <li><a href="#price" accesskey="5" title="">Цены</a></li>
        <li><a href="#contacts" accesskey="3" title="">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="banner">
      <img src="static/images/pic03.jpg" alt="" class="image-full" />
    </div>
    <div id="welcome">
      <% @article_items.each do |article| %>
        <div class="title">
          <h2><%= article.title %></h2>
          <!-- <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> -->
        </div>
        <div class='text'>
          <%= article.body.html_safe %>
        </div>
      <% end %>
    </div>
    <div id="services">
      <div class="title" style='margin-bottom:initial'>
        <h2>Наши услуги</h2>
        <span class="byline"></span>
      </div>
      <ul class="style1 services">
        <% @service_items.each do |service| %>
          <li>
            <!-- <p class="date"><a href="#">Jan<b>05</b></a></p> -->
            <h3><%= service.service_name %></h3>
            <!-- <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p> -->
          </li>
        <% end %>
      </ul>
    </div>
    <div id='#'>
      <div class="title">

      </div>

      <div class='text'>

        <table class="table table-hover table-inverse companies">
          <thead>
            <tr>
              <th style='text-align: -webkit-left;'>Форма предпринимательской деятельности</th>
              <th>Минимально необходимый начальный капитал (EUR)</th>
              <th>Минимально необходимое число учредителей</th>
              <th>Имущественная ответственность</th>
              <th>Управление</th>
            </tr>
          </thead>
          <tbody>
            <% @company_types.each do |type| %>
              <tr>
                <th scope="row"><%= type.form %></th>
                <td><%= type.capital %></td>
                <td><%= type.heads %></td>
                <td><%= type.responsibility %></td>
                <td><%= type.management %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p>Наиболее распространенные и простые формы: <strong>Товарищество с ограниченной ответственностью</strong>, <strong>Акционерное общество</strong></p>
      </div>
    </div>
    <div id="why">
      <div class="title" style='margin-bottom:initial'>
        <h2>Почему именно мы?</h2>
        <span class="byline"></span>
      </div>
      <div class='text' style='text-align: -webkit-auto;'>
        <%= @why_we.text.html_safe %>
      </div>
    </div>

    <div id="price">
      <div class="title" style='margin-bottom:initial'>
        <h2>Цены</h2>
        <span class="byline"></span>
      </div>
      <div class='text' style='text-align: -webkit-auto;'>
        <% @price_list.each do |item| %>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= item.item %></h3>
            </div>
            <div class="panel-body">
              <%= item.description %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id='contacts' style='margin-top:10%'>
      <div class='title'>
       <h2>Контакты</h2>
      </div>

      <div class='text'>
        <%= render 'request_form'%>
        <div class="container" style='margin-top:10%'>
            <div class="row text-center">
              <div class="col-sm-3 col-xs-6 first-box">
                  <h1><span class="glyphicon glyphicon-earphone"></span></h1>
                  <h3>Телефон</h3>
                  <p>+3725250757</p><br>
              </div>
              <div class="col-sm-3 col-xs-6 second-box">
                  <h1><span class="glyphicon glyphicon-user"></span></h1>
                  <h3>Skype</h3>
                  <p>valeriya_tuyaskova</p><br>
              </div>
              <div class="col-sm-3 col-xs-6 third-box">
                  <h1><span class="glyphicon glyphicon-send"></span></h1>
                  <h3>E-mail</h3>
                  <p><%= mail_to 'erezidency@gmail.com' %></p><br>
              </div>
              <div class="col-sm-3 col-xs-6 fourth-box">
                <h1><span class="glyphicon glyphicon-comment"></span></h1>
                  <h3>Viber</h3>
                  <p>+380975273662</p><br>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="copyright">
      <span>E-residency</span>
    </div>
  </div>
  </div>

</div>

<script>

$(document).ready(function(){
  indexMain();
})
</script>